.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.make-form {
  margin-top: 100px;
}
.make-form input {
  width: 120px;
  height: 50px;
  background: black;
  color: white;
  font-size: 30px;
  padding: 15px;
  text-align: center;
}
.submit {
  background: #6e6eff;
  display: block;
  width: 15%;
  margin: auto;
  margin-top: 30px;
  padding: 0px !important;
}
.math_op {
  font-size: 45px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
